<html>
    <head>
        <title>
            sql
        </title>
    </head>

    <body>
        <h1> Add record</h1>

        <a href="/display"> Display</a>
        <form method="post" action="/add-process">
            Name <input type="text" name="txt1"  required>
            Details <input type="text" name="txt2" required>
            Price <input type="number" name="txt3"  required>
           
         <input type="submit" >

        </form>
    </body>
</html>